// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$dark-orange: #8F4C00;
$darker-orange: #E07800;
$orange: #FF8D0A;
$lighter-orange: #FFB35C;
$light-orange: #FFC685;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$secondary-color: #666;
