<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.open.online/wp-content/uploads/2020/01/nibol.jpg);">
  <div class="container">
    <div class="col-md-6 text-center">
      <h1><strong>Nomadity</strong></h1>
      <h4>Nomad living, made easy</h4>
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
