<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1596457596405-2c3ea4502d67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <div class="col-md-6 text-center">
      <h1><strong>Nomadity</strong></h1>
      <h4>Nomad living, made easy</h4>
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
