<div style="width: 100%; height: 600px; position: sticky;"
  class="sticky-top"
  data-controller="directions"
  data-directions-markers-value="<%= @markers.to_json %>"
  data-directions-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
