<% @all_favorites.each do |favorite| %>
<div class="mr-3">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= favorite.name %></h2>
      <p><%= favorite.city[:name]%></p>
      <p><%= favorite.description%></p>
    </div>
  </div>
</div>
<% end %>
