<% if current_user.favorited?(experience) %>
  <div data-controller='favorites'
      data-favorites-target='button'
      data-favorites-url-value='<%= favorite_url(experience) %>'
      data-favorites-verb-value='DELETE'
      data-action='click->favorites#send'>
    <i class="fa fa-heart"></i>
  </div>
<% else %>
  <div data-controller='favorites'
      data-favorites-target='button'
      data-favorites-url-value='<%= experience_favorites_url(experience) %>'
      data-favorites-verb-value='POST'
      data-action='click->favorites#send'>
    <i class="far fa-heart"></i>
  </div>
<% end %>
