<footer class="footer-distributed">
			<div class="footer-left">
				<h3>Nomadity<span></span></h3>
				<p class="footer-links">
					<a href="/" class="link-1">Home</a>
            |
					<a href="#">Pricing</a>
            |
					<a href="/">About</a>
          |
					<a href="#">Faq</a>
            |
					<a href="#">Contact</a>
				</p>
				<p class="footer-company-name">Copyright © 2020 Nomadity Inc. All rights reserved</p>
			</div>
			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>88, Rua do Conde Redondo</span></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+351 123456789</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@nomadity.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Nomadity</span>
					Changing city often? Plan your routines, one city at a time.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<a href="#"><i class="fab fa-github"></i></a>

				</div>

			</div>

		</footer>
