<div class="home-cards">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <i class="fas fa-city"></i>
        <h3 class="card__header">Select a new City</h3>
        <p class="card__info">Thinking about working remotely?</p>
        <p class="card__info">Explore a city, and what it has to offer, and begin planning out a normal day in the life of a nomad.</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <i class="fas fa-clipboard"></i>
        <h3 class="card__header">Choose a Category</h3>
        <p class="card__info">Don't know where to start?</p>
        <p class="card__info">Start by selecting one of our 8 categories, where you will find top rated and most liked locations, which you can favorite and add to your profile!</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <i class="fas fa-map-marker-alt"></i>
        <h3 class="card__header">Plan your Route</h3>
        <p class="card__info">How it works!</p>
        <p class="card__info">After choosing your favorite experiences, use our map to plan and see how you can incorporate this experiences into your daily routine!</p>
      </div>
    </div>
  </div>
</div>
