<div class="home-cards">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <i class="fas fa-city"></i>
        <h3 class="card__header">Select a City</h3>
        <p class="card__info">Thinking about working remotely in a new place you’ve never been?</p>
        <p class="card__info">Explore a city to begin planning out a normal day in the life of a nomad.</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <i class="fas fa-clipboard"></i>
        <h3 class="card__header">Choose a Category</h3>
        <p class="card__info">Start exploring by selecting one of our 50+ categories to find top rated and like the locations you find interesting to save places your favorites list for each city</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <i class="fas fa-map-marker-alt"></i>
        <h3 class="card__header">Plan your Route</h3>
        <p class="card__info">After browing through various categories, use our map a route function to see the best way to follow your regular routine linking your favorites list</p>
      </div>
    </div>
  </div>
</div>
