<div class="container">
  <h5><strong><%= experience.name %></strong></h4>
  <hr>
<div class="info">
  <p> <i class="fas fa-map-marker-alt"></i><%= experience.address %></p>
  <p><img src="https://cdn-icons-png.flaticon.com/512/6996/6996694.png"
  width="15" height="15" id="web">  Website: <strong><a class= "text-decoration-none" href= "<%=experience.website_url.downcase %>"> <%=experience.website_url.downcase %></a></p>
</div>
</div>
<a href=""></a>
