<div class="image">
  <img src="https://ldm.r1-it.storage.cloud.it/img/18/6/24/big/4668_5b2fb535bbc1c9.47252453.jpg", id="image" alt="">
</div>
<div class="row">
  <h2><%= current_user.username %> </h2><br>
  <p><strong>Bio:</strong><br><%=  current_user.biography %></p>
</div>
<div class="buttons">
  <p>Preferences:</p>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Wellness</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Yoga</button>
  </div>
  <div class="">
    <div class="d-flex justify-space-between">
      <button type="button" class="btn btn-secondary btn-sm rounded">Healty</button>
      <button type="button" class="btn btn-secondary btn-sm rounded">Massagge</button>
    </div>
  </div>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Restaurant</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Gym</button>
  </div>
</div>
