<div class="image">
  <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", id="image" alt="">
</div>
<div class="row">
  <h2><%= current_user.username %> </h2><br>
  <p><strong>Bio:</strong><br><%=  current_user.biography %></p>
</div>
<div class="buttons">
  <p><strong>Preferences:</strong></p>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Wellness</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Yoga</button>
  </div>
  <div class="">
    <div class="d-flex justify-space-between">
      <button type="button" class="btn btn-secondary btn-sm rounded">Healty</button>
      <button type="button" class="btn btn-secondary btn-sm rounded">Massagge</button>
    </div>
  </div>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Restaurant</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Gym</button>
  </div>
</div>
