<div id="profile-image">
</div>
<div class="row">
  <div class="user">
    <h2><%= current_user.username %> </h2><br>
  </div>
    <p><strong>Bio:</strong><br><%=  current_user.biography %></p>
  </div>
<div class="buttons">
  <p><strong>Preferences:</strong></p>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Co-living Spaces</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Yoga</button>
  </div>
  <div class="">
    <div class="d-flex justify-space-between">
      <button type="button" class="btn btn-secondary btn-sm rounded">Co-Working</button>
      <button type="button" class="btn btn-secondary btn-sm rounded">Grocery Shop</button>
    </div>
  </div>
  <div class="d-flex justify-space-between">
    <button type="button" class="btn btn-secondary btn-sm rounded">Restaurant</button>
    <button type="button" class="btn btn-secondary btn-sm rounded">Gym</button>
  </div>
</div>
