<div class="image">
    <img src="https://www.merin.it/wp-content/uploads/2016/09/facebook-default-no-profile-pic-768x768.jpg", id="image" alt="">
  </div>
  <div class="row">
    <h2><%= current_user.username %> </h2><br>
    <p><strong>Bio:</strong><br><%=  current_user.biography %></p>
  </div>
  <div class="buttons">
    <p>Preferences:</p>
    <div class="d-flex justify-space-between">
      <button type="button" class="btn btn-secondary btn-sm">Wellness</button>
      <button type="button" class="btn btn-secondary btn-sm">Yoga</button>
    </div>
    <div class="">
      <div class="d-flex justify-space-between">
        <button type="button" class="btn btn-secondary btn-sm">Healty</button>
        <button type="button" class="btn btn-secondary btn-sm">Massagge</button>
    </div>
    </div>
    <div class="d-flex justify-space-between">
      <button type="button" class="btn btn-secondary btn-sm">Restaurant</button>
      <button type="button" class="btn btn-secondary btn-sm">Gym</button>
  </div>


</div>
