<div class="row">
  <div class="d-flex justify-content-between">
    <div class="col-7">
      <%= render "shared/mapbox" %>
    </div>
    <div class="col-4">
      <%= render 'shared/experience_card', experience: favorite %>
    </div>
  </div>
</div>
