<div class="search-form-control form-group">
  <%= form_with url:categories_path, method: :get do |f| %>
    <%= f.collection_select(:city, City.all, :ref, :name) %>
    <%= f.submit "Choose your city", class: "btn btn-primary"%>
  <% end %>
</div>
