<div class="container">
<br>
  <div class="value">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
      <p class="progress-value">100%</p>
  </div>
  <%= link_to "Go back", "javascript:history.back()", class: "btn btn-secondary mb-3" %>
  <div class="row">
    <div class="col-8">
      <%= render "shared/directions_mapbox" %>
    </div>
      <div class="col-4">
      <div id="instructions"></div>
    </div>
  </div>
</div>
