<div id="cards" class="col-8">
  <h1>Welcome in  your profile page <%= @user.username %></h1>
  <br>
  <h2>Favorited Experiences in : <a class="btn btn-gradient" href="<%= link_to "lisbon", :controller => "pages", :action => 'profile', :query => "lisbon" %>">Lisbon</a>
  <%= link_to "porto", :controller => "pages", :action => 'profile', :query => "porto" %> </h2>
  <%= render "shared/favorite_card", class: "col-sm-12" %>
</div>
