<br>
  <p class="index-title">Select your category</p>
    <div class="container">
      <div class="grid">
          <% @experiences.each do |experience| %>
        <div class="grid-item">
          <h2> <%= experience.name %> </h2>
          <p> <%= link_to "Show", experience_path(experience), class: "btn btn-primary" %></p>
        </div>
        <% end %>
      </div>
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
    </div>
