<%# app/views/errors/internal_server.html.erb %>

<div class="error">
  <div class="text">
    <p>ERROR 500 INTERNAL SERVER ERROR</p>
    <p>What do you do here?!</p>
    <p>We are in the middle of the battle</p>
    <p>save yourself on the <%= link_to 'Homepage', root_path %></p>
  </div>
</div>
