<%# app/views/errors/not_found.html.erb %>
<div class="error">
  <div class="text">
    <p>ERROR 404 PAGE NOT FOUND</p>
    <p>What do you do here?!</p>
    <p>We are in the middle of the battle</p>
    <p>save yourself on the <%= link_to 'Homepage', root_path %></p>
  </div>
</div>
