.index-title{
  color: $orange;
  text-align: left;
  font-size: 30px;
  }

  .paragraph {
  color: #666;
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 70vh;
}

.grid-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;

  .h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 10;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    font-size: 20px;
  }
}

#btn-home {
  color: white;
  border-radius: 18px;
  font-size: 24px;
}

.icon {
  height: 100px;
  padding-bottom: 20px;
}

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
