.index-title {
  color: #333;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  color: #FF8800;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.12);
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 10;
  color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#btn-home {
  color: white;
  border-radius: 18px;
  font-size: 24px;
}
