.card-experience {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 2.5px 2.5px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 25px;
  position: relative;
  width: 100%;

  .btn-primary{
    background-color: white;
    color:  $orange;
    border: 0.5px solid #666;
    box-shadow: none;
  }
  .experience-card-header{
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }

  img {
    height: 100%;
    width: 150px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-left: 5px;
  }

  .fa-map-marker-alt{
    color: $orange;
  }

  .card-experience-infos {
    padding: 16px;
    width: 100%;
  }

}
.card-experience:hover {
      transform: scale(1);
      box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
      z-index: 1;
      border-color: #ca5b00 !important;
  }

  .btn-profile{
    background-color: white;
    color:  $orange;
    border: 0.5px solid grey;
    box-shadow: none;
  }
  .btn-profile:hover{
    box-shadow: 1px 1px 2px #aeabab;
    color: $orange;
  }
