.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 12%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px sans-serif;
  padding: 55px 50px;

  p{
    color: white;
  }
  h3{
    color: $orange;
  }
  .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }

  .footer-left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
  .footer-center {
    width: 35%;
    display: inline-block;
    vertical-align: top;

    i {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
      }

     p {
        display: inline-block;
        color: #ffffff;
        font-weight: 400;
        vertical-align: middle;
        margin: 0;
      }
      p a {
        text-decoration: none;
    }
  }
  .footer-right {
    width: 20%;
    display: inline-block;
    vertical-align: top;

    .footer-company-about {
      line-height: 20px;
      color: #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;

      span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .footer-icons {
      margin-top: 25px;
      font-size: 30px;
      display: flex;
      justify-content: space-around;
    }
  }

  .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    text-decoration: none;

    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
}
