*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-cards{
  width:100%;
    h3{
      padding: 5px 0px;
      font-weight: bolder;
    }
    p{
      font-size: 12px;
      padding: 5px;
    }
    i{
      font-size: 36px;
      color: $orange;
    }
}
.card {
  width: 60%;
  height: 80%;
  padding: auto;
  text-align: center;
  border: none;
  margin: 20px 0;
  &__container {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  &__content {
    width: 90%;
    height: 95%;
    background: #F4F4F4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 8px auto;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover{
      margin-top:-8px;
      background: #666;
      transition: 0.5s;
      color: white;
    }
  }
  &__header {
    text-transform: uppercase;
    font-size: 16px;
    margin: 8px auto;
  }
}

@media (min-width: 100px) and (max-width: 575px) {

  .card {
    min-height: 40vh;
    &__container{
      grid-template-columns: 1fr;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .card {
    min-height: 40vh;
    &__container{
      grid-template-columns: 1fr;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .card {
    min-height: 50vh;
    &__container{
      grid-template-columns: 1fr 1fr;

    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .card {
    &__container{
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .card {
    &__container{
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 50vh;
    }
  }
}
