#instructions {
  //position: absolute;
  margin: 20px;
  width: 100%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}

.mapbox-directions-component-keyline{
  display: none;
}

.mapboxgl-popup-content{
  a{
    word-wrap: break-word;
  }
  .fa-map-marker-alt{
    margin-right: 4px;
  }
}
