
.error {
  margin: 20px;
  position: relative;
  width: 1200px;
  height: 750px;
  background: url("battlesheep.jpg");
  background-size: cover;
}

.text {
  position: relative;
  top: 320px;
  left: 56px;
  align-items: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 29px;
  letter-spacing: 2.2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-shadow: 4px 3px 0 #515050; ;
}
