
.error {
  margin: 20px;
  position: relative;
  width: 1300px;
  height: 1024px;
  background-image: url("battlesheep.jpg");
}

.text {
  position: relative;
  top: 600px;
  left: 100px;
  align-items: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 29px;
  letter-spacing: 2.2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;

}
