.profilecontainer {
  width: 110%;

}

.setRoute {
  justify-content: center;
  display: flex;
}

#getDirections {
  right: 10px;
  flex: end;
  margin-bottom: 8px;
  position: relative;
  left: 330gitpx;
}

.btn-primary {
  color: white;
}

.btn-primary:hover{
    transform: scale(0.97);
    z-index: 1;
  }
