.profilecontainer {
  width: 110%;

}

.map {
  position: relative;
  z-index: 1;
}

.directions {
  position: relative;
  z-index: 2;
  top: -580px;
  right: -60px;
}

.btn-primary {
  box-shadow: 2px 2px 2px rgb(174, 171, 171);
}

.btn-primary:hover{
    transform: scale(0.97);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
