.profilecontainer {
  width: 110%;

}

.setRoute {
  justify-content: center;
  display: flex;
}

#getDirections {
  right: 10px;
  flex: end;
  margin-bottom: 8px;
  position: relative;
  left: 330gitpx;
}

.btn-primary {
  box-shadow: 2px 2px 2px rgb(174, 171, 171);
  color: white;
}

.btn-primary:hover{
    transform: scale(0.97);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
