div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
  border-radius: 25px;
  background-color: white;
  border: 0.5px solid grey;
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.1);
}

div.scrollmenu a:hover {
  background-color: #e7e6e6;
  transition: 0.3s;
}
