div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;

}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 25px;
  background-color: white;
  border: 0.5px solid #666;
}

.active-cat{
  background-color: white!important;
  color: $orange!important;
}

div.scrollmenu a:hover {
  background-color: #e8e9e9;
  transition: 0.3s;
}
