.search-form-control{
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-form{
  width: 200px;
  height: 38px;
  border-radius: 25px;
  margin-right: 10px;
  text-align: center;
}
