<br>
  <p class="index-title">Select your category</p>
  <br>
    <div class="container">
      <div class="grid">
          <% @categories.each do |category| %>
        <div class="grid-item">
           <h2> <%= link_to "#{category.name}", experiences_path(category: category.ref, city: params[:city]) %> </h2>
        </div>
        <br>
        <br>
        <br>
        <% end %>
      </div>
        <%= link_to "Home", root_path, id:"btn-home",class: "btn btn-primary" %>
    </div>
