<br>
  <p class="index-title">Select your categorerdfgsdfgsdfgvy</p>
  <br>
    <div class="container">
      <div class="grid">
        <% @categories.each do |category| %>
          <div class="grid-item">
            <h2> <%= link_to "#{category.name}", experiences_path(category: category.ref, city: params[:city]) %> </h2>
            <%= cl_image_tag(category.photo.key, :class=>"icon")  if category.photo.key.present? %>
          </div>
        <br>
        <br>
        <br>
        <% end %>
      </div>
    <br>
  <br>
<br>
