<% @categories.each do |category| %>
  <h2> <%= link_to "#{category.name}", experiences_path(category: category.ref, city: params[:city]) %> </h2>
<% end %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
